/* AnotarUsuarioAClase.css */
.anotar-usuario-a-clase {
  padding: 20px;
  background-color: #f3f0f0;
  border-radius: 10px;
  margin: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.anotar-usuario-a-clase h2{
  color: black !important;
  border-bottom: solid 1px black;
  max-width:600px;
  width:100%;
  text-align:center !important;
  margin:0 auto;
  display:flex;
  font-family: 'Brigends';
  font-weight: lighter;
  letter-spacing: 0.05rem;
  padding:20px 0px;
  margin: 20px 0px;
}
.anotar-usuario-a-clase h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial';
  text-transform: uppercase;
  font-size: 23px;
}
.anotar-usuario-a-clase #Horario{
    font-family: 'Arial';
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
    text-transform: capitalize;
}
.usuario-info {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  border-left: 4px solid #fbf106;
}

.usuario-info p {
  margin: 0;
  color: #fff;
}

.input-buscar-user {
  width: 100%;
  margin: 10px 20px;
  padding: 10px 0px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  margin: 0 auto;
  display: flex;
}

.suggestions-list {
  position: absolute;
  width: 100%;
  background: #2a2a2a;
  border: 1px solid #444;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  color: #fff;
}

.suggestions-list li:hover {
  background-color: #3a3a3a;
}