.CreateClassContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  background-color:  #18181b;
}
.CreateClassContainer h1{
    font-weight: lighter;
}
.form-group-class {
  background-color: #27272a;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.CreateClassContainer h1 {
  font-size: 2rem;
  font-family: 'Brigends';
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
  color: white;
}

.form-group-class label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group-class input,
.form-group-class select {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #3f3f46;
  color: white;
}

.form-group-class input:focus,
.form-group-class select:focus {
  outline: 2px solid #fbf106;
}

.form-group-class button[type="submit"] {
  margin-top: 1rem;
  background-color: #fbf106;
  color: #1f1d1b;
  font-family: 'Phonk';
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group-class button[type="submit"]:hover {
  background-color: #e6db04;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox-group label {
  cursor: pointer;
}
.plan-item {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 1rem;
  position: relative;
  width: 400px;
}

.plan-item h3 {
  margin-top: 0;
}

.plan-item input,
.plan-item textarea {
  display: block;
  width: 380px;
  padding: 20px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.plan-item button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

.plan-item button:hover {
  color: #007bff;
}

.plan-item button:last-of-type:hover {
  color: red;
}
#Title-Planes, #Title-Clases{
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}
.date-picker {
  width: 400px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #3f3f46;
  color: white;
  margin: 20px;
} 