/* CreateClass.css */
.create-class-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #292927;
}

.create-class-container h1,
.create-class-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #18181b;
  text-align: center;
}

.form-group-class {
  background-color: #ececf0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-group-class label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #27272a;
}

.form-group-class input,
.form-group-class select,
.form-group-class textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group-class textarea {
  min-height: 100px;
  resize: vertical;
}

.form-group-class button {
  padding: 0.8rem 1.5rem;
  background-color: #fbf106;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.plan-item {
  background-color: white;
  padding: 1.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.plan-item h3 {
  margin-top: 0;
  color: #27272a;
}

.plan-item p {
  margin: 0.5rem 0;
  color: #666;
}

.plan-item button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.plan-item button:first-of-type {
  background-color: #4CAF50;
  color: white;
}

.plan-item button:last-of-type {
  background-color: #f44336;
  color: white;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.checkbox-group div label{
  display: flex !important;
  align-items: center!important;
  justify-content: center!important;
  color:white;
  height: auto;
  
}
.checkbox-group input {
  width: auto;
  margin-right: 0.5rem;
  margin-bottom: 0;
  height: 20px;
  background-color: red;
}

.date-picker {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.date-picker label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: #ccc;
}

.date-picker input {
  width: auto;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.anotar-usuario-a-clase {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #292927;
}

.anotar-usuario-a-clase h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #18181b;
  text-align: center;
}
@media (max-width: 640px) {
  .form-group-class{
    padding: 10px !important;
    box-sizing: border-box !important;
  }
  .form-group-class input,
  .form-group-class select,
  .form-group-class textarea {
    width: 100% !important;
    margin-bottom: 1rem !important;
  }
  .checkbox-group{
    width: 99% !important;
  }
}