/* CreateClass.css */
.create-class-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #292927;
}
.CreateClassContainer h1{
  color: black !important;
  border-bottom: solid 1px black;
  max-width:600px;
  width:100%;
  text-align:center !important;
  margin:0 auto;
  display:flex;
  font-family: 'Brigends';
  font-weight: lighter;
  letter-spacing: 0.05rem;
  padding:20px 0px;

}
.create-class-container h1,
.create-class-container h2 {
  margin-bottom: 1.5rem;
  color: #18181b;
  text-align: center;
}

.form-group-class {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  padding:20px 10px;
  gap: 1.2rem;
}
.form-group-class input, .form-group-class textarea{
  background-color: #3f3f46;
  color: white;
}
.form-group-class label {
  display: block;
  font-weight: bolder;
  font-size: 1.17em;
  color: #27272a;
}

.form-group-class input,
.form-group-class select,
.form-group-class textarea {
  width: 100%;
  padding: 15px 0px;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group-class textarea {
  min-height: 100px;
  resize: vertical;
}

.form-group-class button {
  padding: 0.8rem 1.5rem;
  background-color: #fbf106;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}
.plans-list{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.plan-item {
  background-color: white;
  padding: 20px 10px;
  border-radius: 6px;
  margin: 20px 0px;
  width:100%;
  max-width:600px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.plan-item h3 {
  margin:0px;
  color: #27272a;
}

.plan-item p {
  margin: 0.5rem 0;
  color: #666;
}

.plan-item button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.plan-item button:first-of-type {
  background-color: #4CAF50;
  color: white;
}

.plan-item button:last-of-type {
  background-color: #f44336;
  color: white;
}

.checkbox-group {
   display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important; /* 2 columnas */
}
.checkbox-group div label{
  display: flex !important;
  align-items: center!important;
  justify-content: center!important;
  color:white;
  height: auto;
}
.div-disciplinas{
  width:250px !important;
  height:40px;
}
.checkbox-group input {
  width: auto;
  height: 20px;
}

.date-picker {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.date-picker label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: #ccc;
}

.date-picker input {
  width: auto;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.anotar-usuario-a-clase {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #292927;
}

.anotar-usuario-a-clase h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #18181b;
  text-align: center;
}
@media (max-width: 768px) {
  .CreateClassContainer h1,
.CreateClassContainer h2 {
  font-size:20px !important;
  width:100% !important;
}
  .form-group-class{
    padding: 10px 0px;
    box-sizing: border-box !important;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;
    width:90%;
  }
  .form-group-class input,
  .form-group-class select,
  .form-group-class textarea {
    width: 90% !important;
    box-sizing: border-box; 
    padding: 20px 5px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    appearance: none; 
  }

  .form-group-class input[type="date"],
  .form-group-class input[type="time"],
  .form-group-class input[type="number"] {
    width: 90% !important;
    min-height: 2.5rem; 
  }
  .checkbox-group{
    width: 99% !important;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important; /* 2 columnas */
  }
  input.checkbox-input{
    width:20px !important;
    height:10px !important;
  }
  .btn-primary{
    width:90% !important;
  }
  .plan-item{
    width:80%;
  }
}