.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    width: 100%;
    background-color: #18181b;  
  }
  
  .logo {
    height: 100px;
  }
  .nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
}

  .nav-link {
    font-size: 1rem;
    color: #d6d3d1; /* stone-300 */
    text-decoration: none;
    padding: 0 1.25rem;
  }
  .nav-link:hover{
    border-bottom: solid 1px white;
  }
  
  /* Media queries para responsive */
  @media (max-width: 768px) {
    .header {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  
    .nav {
      gap: 1.25rem;
    }
  }
  
  @media (max-width: 640px) {
    .header {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  
    .logo {
      flex-grow: 1;
    }
  
    .nav {
      display: none;
    }
  
  }
  