.user-profile-container {
  display: flex;
  justify-content:center;
  align-items:center;
  height: auto !important;
  padding: 0.2rem;
  background-color:#18181b;
}

.user-profile-box {
  background-color:#ececf0;
  padding: 2rem 3rem ;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  max-width: 800px;
  width: 100%;
  color: white;
  margin-bottom: 50px;
  display:block;
  height:auto;
}
.top-info{
  display:flex;
  width:100%;
  justify-content:space-between;
  align-items: center;
  padding:0px;
  margin:0px;
}
.top-info a{
  font-size: 50px;
  color:black;
  width:50px !important;
  height:60px !important;
  
}
.top-info a:hover{
  cursor:pointer;
  color:grey;
}
.user-profile-title {
  font-size: 1.2rem;
  font-family: 'Brigends', sans-serif;
  text-align: start;
  color: rgb(26, 25, 25);
  margin-bottom: 0px;
}

/* El resto de las clases ya no llevan el prefijo register- */
.user-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  width: 70%;
  color: #18181b;
}
.user-form h2{
  text-align: start;
  color: #18181b;
  margin:0px;
}
.user-mail{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3rem;
  font-weight: bolder;
  color: #18181b;
}
.user-rol{
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(51, 49, 49);
  padding: 10px;
  width: 150px;
  height: 20px;
  text-align: center;
  background-color: #fbf106;
}
.resto-user-info h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #292927;
  text-align: start;
}
.resto-user-info, .cuota-info{
  padding: 20px;
  line-height: 1.4;
  background: #aca3a3;
  border-radius: 10px;
  color: #292927;
}
.cuota-info .cuota-inactiva{
  color: rgb(216, 29, 29);
  font-weight: bolder;
}
.user-form strong {
  color: #292927;
}
.separador-user{
  display: flex;
  gap: 1rem;
}
.Derecha{
  text-align: right;
  width: 30%;
  font-size: 40px;
  font-weight: bolder;
}
.Derecha a{
  text-decoration: none;
  color: gray;
}
.Derecha a:hover{
  color: black;
}
.user-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.botonGuardarPerfil {
  padding: 10px 16px;
  background-color: #fbf106;
  color: rgb(29, 28, 28);
  font-weight: bolder;
  font-family: 'Brigends';
  letter-spacing: 0.1rem;
  font-size: 20px;
  border:solid 1px #fbf106;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.botonGuardarPerfil:hover {
  background-color: #e0e2e6;
  border: solid 1px #fbf106;
}

.mensajeExito {
  color: green;
  margin-top: 10px;
}
.user-form-edit{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}
.contenido-record{
  background-color: #aca3a3;
  border-radius: 10px;
  text-align: start;
}
.records h2{
  color: #292927;
  font-size: 1.5rem;
  margin: 0;
  text-align: start;
  padding: 3px 0px;
}
.contenido-record{
  color: #292927;
  font-size: 1.2rem;
  padding: 20px;
  height: 350px;
}
.fila-edit{
  display: flex;
  justify-content:space-between;
}
.bloque-edit{
  padding:10px 0px;
  width:200px;
}
.bloque-edit input{
  padding:10px 0px;
  width:200px !important;
}
/* Estilos para EditProfile */
.edit-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #18181b;
}

.edit-user-box {
  background-color: #27272a;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.edit-user-title {
  font-size: 2rem;
  font-family: 'Brigends';
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
  color: white;
  font-weight: lighter;
}
.edit-user-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.edit-user-form h3{
  font-size: 25px;
  margin: 0px;
}
.botonClave{
  background-color: transparent;
  border: solid 1px white;
  color: white;
  border-radius: 5px;
  width: 300px;
  font-size: 15px !important;
  font-weight: lighter;
  font-family: 'Brigends';
  padding: 15px 0px;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.botonClave:hover{
  background-color: white;
  color: #18181b;
}
.mobile-info-container{
  display:none;
}

@media (max-width:768px) {
  /*estilos del perfil*/
  .mobile-info-container{
    display:block;
    min-height: 50vh;
  }
  .separador-user{
  display:none !important;
  }
  .mobile-options{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding:10px 0px;
  }
  .mobile-options button{
    background-color: transparent;
    border:solid 2px #fbf106;
    width:100%;
    font-family:'Brigends';
    font-size: 15px;
  }
  .mobile-options button.active-tab {
  background-color: #fbf106;
  color: rgb(29, 28, 28);
  font-weight: bolder;
}

  .mobile-options button:hover {
    background-color: #fbf106;
    color: rgb(29, 28, 28);
  }
  .mobile-personal h2, .mobile-fees h2, .mobile-records h2{
    padding:0px;
    margin:0px;
    color:grey;
  }
  .mobile-personal, .mobile-fees, .mobile-records{
    background-color:#222;
    padding:20px 10px;
    border-radius: 5px;
  }
  .user-mail{
    font-size: 25px;
    max-width:75wv;
    word-break: break-all;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: start;
  }
  .user-profile-box{
    width: 80vw;
    padding:10px 20px;
  }
  /*estilos de editar*/
  .user-profile-container {
    width:100%;
    padding:0px;
    margin:0px;
    box-sizing:content-box;
  }
  .edit-user-box{
    width: 90vw !important;
    max-width: 450px !important;
    padding:10px !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .fila-edit{
    display:flex;
    flex-direction:column;
  }
  .bloque-edit{
    display:flex;
    justify-content:space-between;
    padding: 10px 0px;
    align-items: center;
    width:100%
  }
  .botonClave{
    width:100%;
    padding:20px 0px;
    margin-bottom: 20px !important;
  }
  .botonGuardarPerfil{
    font-size: 20px;
  }
  .edit-user-title{
    font-size: 30px;
    word-break:normal;
    text-align: center;
  }
}